body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.topcontainer {
  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
}

/**      CSS DE IMAGENS    **/

.bottomcloud {
  position: absolute;
  left: 350px;
  bottom: 400px;
}

.topcloud {
  position: absolute;
  right: 350px;
  top: 50px;
}
